
.appBar {
  background-color: #622F96;
  display: flex;

}

.navigation {
  flex-grow: 1;
  text-align: right;

  & > ul {
    list-style: none;

    & > li {
      display: inline-flex;
    
      & > a {
        font-weight: bold;  
        color: #ffffff;
        padding: 26px;
        display: inline-block;
        text-decoration:none;
      }
    }
  }  
} 

&:not(.static) {
    pointer-events: none;
    z-index: 0;
}

.link {

	&:hover {
		font-weight: bold;
    	color: #622f96;
    	background-color: #d1c4e9;
    	padding: 26px;
    	transition: background-color .3s;
    	text-decoration:none;
  	}

  	&:not(.active) {
    opacity: 1;
  }
}	





 