  {% extends "plantilla.html" %} 

{% block title %} Listado {% endblock %}

{% block content %} 
  <div class="col s6 offset-s3 center-align">
    <h3> {{ object.name_package }}</h3>
  </div>
  <div class="row">
    <div class="col s5 right-align">
      <ul >
        <li><p>id:</p></li>
        <li><p>Repositorio:               </p></li>
        <li><p>Nombre del paquete:       </p></li>
        <li><p>Descripcion del paquete: </p></li>
        <li><p>Status Actual del paquete:       </p></li>
        <li><p>Correo Eleclionico:        </p></li>
        <li><p>Fecha creado:              </p></li>
      </ul>
    </div>
  <div class="col s7 ">
      <ul>
        <li><p>{{ object.id }}</p></li>
        <li><p>{{ object.repository }}</p></li>
        <li><p>{{ object.name_package }}</p></li>
        <li><p>{{ object.description_package }}</p></li>
        <li><p>{{ object.status }}</p></li>
        <li><p>{{ object.email }}</p></li>
        <li><p>{{ object.fecha }}</p></li>
     </ul>
  </div>
  </div>

  <div class="col s6 offset-s3 center-align">
    <h3> Historial del {{ object.name_package }}</h3>
  </div>
  <div>
  <div class="row">
    <div class="col s10 offset-1" >
    <table class="bordered highlight centrar" >
      <thead> 
        <tr>
          <th data-field="name">Fecha de actualizacion</th> 
          <th data-field="name">Nombre</th>
          <th data-field="name">Ultimo status</th>
        </tr>
      </thead>
      <tbody>
        {% for lista in detalle_list %}
            <tr>
                <td>{{ lista.fecha_actualizada }}</td>
                <td>{{ lista.name_package }}</td>
                <td>{{ lista.get_status_display }}</td>
            </tr>
        {% endfor %} 
      </tbody>
    </table> 
    </div>  
  </div>
{% endblock %}