{% extends "plantilla.html" %} 

{% block title %} Paquetes Postulados {% endblock %}

{% block content %} 
  <div class="col s6 offset-s3 center-align">
      <h3>Listado de Paquetes</h3>
  </div>
  <br>
  <div class="container">
    <div class="row ">
        <div class="col s3 center-align "><strong>Fecha</strong></div> 
        <div class="col s6 center-align"><strong>Repositorio</strong></div>
        <div class="col s2 "><strong>Nombre</strong></div>
        <div class="col s1 "><strong>Status</strong></div>
    </div>
  </div>
  <div class="container">
  {% for evaluacion, observacion, package in listas %}
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">               
          <div class="row">
            <div class="col s3">{{ package.fecha }}</div>
            <div class="col s6">{{ package.repository }}</div>
            <div class="col s2">{{ package.name_package }}</div>
            <div class="col s1">{{ package.status }}</div>
          </div>
        </div> 
        <div class="collapsible-body"> 
          {% include "formulario_evaluacion1.html" %}
        </div>  
      </li>
    </ul>
    {% empty %}
    <br>
      <div class="col s6 offset-s3 center-align">
      <h5> Por el momento no se han postulado ningun paquete </h5>
      </div>
  {% endfor %}
  </div>
{% endblock %}