  {% extends "plantilla.html" %} 

{% block title %} Seguimiento {% endblock %}

  {% block content %} 
  <br>
  <div class="col s6 offset-s3 center-align">
      <h4>Listado Historico de los Paquetes Postulados</h4>
  </div>
  <br>
  <div class="row">
    <div class="col s10 offset-1" >
  	  <table class="bordered highlight centrar" >
          <thead> 
            	<tr>
                <th data-field="name">Fecha</th> 
                <th data-field="name">Nombre</th>
                <th data-field="name">Ultimo Status</th>
            	</tr>
          </thead>
          <tbody>
      	{% for historial in object_list %}
            <tr>
                <td>{{ historial.fecha_actualizada }}</td>
                <td>{{ historial.name_package }}</td>
                <td>{{ historial.get_status_display }}</td>
            </tr>
        {% endfor %} 
          </tbody>
      </table> 
    </div>	
  </div>
  {% endblock %}