{% extends "plantilla.html" %} 

{% block title %} Actualizacion {% endblock %}

  {% block content %} 
  <div class="col s6 offset-s3 center-align">
      <h3> listado de paquetes</h3>
  </div>
  <div class="center-align">
  {% if messages %}  
    {% for message in messages %}   
      <p {% if message.tags %} class="center-align" {% endif %}>{{ message }}</p>
    {% endfor %} 
  {% endif %} 
  </div>
<div class="row">
    <div class="col s10 offset-1" >
  	  <table class="bordered highlight centrar" >
          <thead> 
            	<tr>
                <th data-field="name">Fecha de publicacion</th> 
                <th data-field="name">Nombre</th>
                <th data-field="name">Status Actual</th>
                <th data-field="name">Actualizar</th>
            	</tr>
          </thead>
          <tbody>
      	 {% for package in object_list %}
            <tr>
                  <td>{{ package.fecha }}</td>
                  <td>{{ package.name_package }}</td>
                  <td>{{ package.status }}</td>
                  <td>
                    <form action="" method="post">
                      {% csrf_token %}
                      <input type="hidden" id="id" name="id" value="{{ package.id }}">
                      <input type="hidden" id="name_package" name="name_package" value="{{ package.name_package }}">
                      <div class="col s6"> 
                      <select  class="browser-default" id="status" name="status">
                        <option value="Postulado" selected="selected">Postulado</option>
                        <option value="En Evaluacion">en evaluacion</option>
                        <option value="Aceptado">aceptado</option>
                        <option value="Rechazado">rechazado</option>
                      </select>
                      </div>
                      <div class="col s6">  
                      <button type="submit" class="btn btn-default">Actualizar</button>
                      </div> 
                      </form>
                  </td>  
                    
            </tr>
       {% endfor %}  
          </tbody>
      </table> 
    </div>	
  </div>
 
   {% endblock %}