{% load staticfiles %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>{% block title %} Canaima GNU/Linux {% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
</head>
<body>
<header>
  <nav>
<div id="nav"></div>
  </nav>
<!--  <nav>
    <div class="nav-wrapper">
      <a href="{% url 'inicio' %}" class="brand-logo" >
      <img width="55%" src="{% static 'imagenes/canaima-logo_white.png' %}" alt="canaima-logo-blanco">
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a class="dropdown-button" href="#!"data-beloworigin="true" data-activates="dropdown1"><i class="material-icons left">person</i>{% if request.user.is_authenticated %}{{ user.username }}{% else %}Usuarios{% endif %}<i class="material-icons right">arrow_drop_down</i></a></li>
        <ul id="dropdown1" class="dropdown-content">
            {% if request.user.is_staff or request.user.is_authenticated %}
              <li><a href="{% url 'auth_logout' %}">Cerrar Sesion</a></li>
            {% else %}
              <li><a href="{% url 'auth_login' %}">Iniciar Sesion</a></li>
              <li><a href="{% url 'registration_register' %}">Registrarse</a></li>  
            {% endif %}
        </ul>
        <li><a href="{% url 'listar_todo' %}">
          <i class="material-icons left">history</i>Seguimiento</a></li>
        {% if request.user.is_staff %}
          <li><a class="dropdown-button" href="#!"data-beloworigin="true" data-activates="dropdown2"><i class="material-icons left">update</i>Actualizar<i class="material-icons right">arrow_drop_down</i></a></li>
        <ul id="dropdown2" class="dropdown-content">
            <li><a href="{% url 'listar_status_update' %}">Status</a></li>
            <li><a href="{% url 'listar_admin' %}">Evaluaciones</a></li>
        </ul>
        {% endif %}
        <li><a class="dropdown-button" href="#!"data-beloworigin="true" data-activates="dropdown3">
        Paquetes <i class="material-icons right">arrow_drop_down</i></a></li>
        <ul id="dropdown3" class="dropdown-content">
            {% if request.user.is_staff or request.user.is_authenticated %}
            <li><a href="{% url 'crear' %}">Postular un paquete</a></li>
            <li><a href="{% url 'listar' %}">Ver Listados de paquetes</a></li>
            {% else %}
            <li><a href="{% url 'listar' %}">Ver Listados de paquetes</a></li>
            {% endif %}
        </ul>
      </ul>
    </div>
  </nav> -->
</header>
<main>
    {% block content %}  {% endblock %}<br></br>
</main>
 <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col s4">
              <h5 class="white-text">Canaima GNU/Linux</h5>
              <p class="white-text">
                  Es un proyecto socio-tecnológico abierto, construido de forma
                  colaborativa, centrado en el desarrollo de herramientas y modelos productivos
                  basados en las Tecnologías de Información (TI)
              </p>
            </div>
            <div class="col s4">
              <h5 class="white-text">Foros</h5>
              <ul>
                <li><a class="white-text" href="http://canaima.softwarelibre.gob.ve"> - Canaima GNU</a></li>
                <li><a class="white-text" href="http://wiki.canaima.softwarelibre.gob.ve"> - Wiki Canaima </a></li>
              </ul>
            </div>
            <div class="col s4">
              <h5 class="white-text">Contactos</h5>
              <ul>
                <li><a href="https://twitter.com/CNTI_VE" class="twitter-follow-button" data-show-count="false">Follow @CNTI_VE</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
                <li><a href="https://twitter.com/CanaimaGNULinux" class="twitter-follow-button" data-show-count="false">Follow @CanaimaGNULinux</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
              </ul>
            </div>
  </footer>
  {% render_bundle 'index' %}
  </body>
</html>