.theme__rippleWrapper___16N7o {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.theme__ripple___3SV_u {
  background-color: currentColor;
  border-radius: 50%;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  transition-duration: 800ms;
  z-index: 100
}
.theme__ripple___3SV_u.theme__rippleRestarting___2OZWa {
  opacity: 0.3;
  transition-property: none;
}
.theme__ripple___3SV_u.theme__rippleActive___3O2Ue {
  opacity: 0.3;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.theme__ripple___3SV_u:not(.theme__rippleActive___3O2Ue):not(.theme__rippleRestarting___2OZWa) {
  opacity: 0;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
}
.theme__button___2Agdx {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  cursor: pointer;
  display: inline-block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0;
  line-height: 36px;
  outline: none;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  white-space: nowrap;

  box-sizing: border-box;

  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;

  -webkit-font-smoothing: antialiased;

  font-smoothing: antialiased;

  -webkit-text-size-adjust: 100%;

      -ms-text-size-adjust: 100%;

          text-size-adjust: 100%
}
.theme__button___2Agdx *,
    .theme__button___2Agdx *::after,
    .theme__button___2Agdx *::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-touch-callout: none
}
.theme__button___2Agdx > input {
  height: 0.1px;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.1px;
  z-index: 0
}
.theme__button___2Agdx::-moz-focus-inner {
  border: 0
}
.theme__button___2Agdx > span:not([data-react-toolbox='tooltip']) {
  display: inline-block;
  line-height: 36px;
  vertical-align: middle
}
.theme__button___2Agdx > svg {
  display: inline-block;
  fill: currentColor;
  font-size: 120%;
  height: 36px;
  vertical-align: top;
  width: 1em
}
.theme__button___2Agdx > * {
  pointer-events: none
}
.theme__button___2Agdx > .theme__rippleWrapper___3AVBi {
  overflow: hidden
}
.theme__button___2Agdx[disabled] {
  color: rgba(0, 0, 0, 0.26);
  cursor: auto;
  pointer-events: none
}
.theme__squared___2GH_L {
  border-radius: 2px;
  min-width: 90px;
  padding: 0 12px
}
.theme__squared___2GH_L .theme__icon___3aBSX {
  font-size: 120%;
  margin-right: 6px;
  vertical-align: middle
}
.theme__squared___2GH_L > svg {
  margin-right: 5px
}
.theme__solid___1ZxqC {
}
.theme__solid___1ZxqC[disabled] {
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 1px 5px 0 rgba(0, 0, 0, .12)
}
.theme__solid___1ZxqC:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 1px 5px 0 rgba(0, 0, 0, .12)
}
.theme__solid___1ZxqC:focus:not(:active) {
  box-shadow: 0 0 8px rgba(0, 0, 0, .18),
      0 8px 16px rgba(0, 0, 0, .36)
}
.theme__raised___221ic {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 1px 5px 0 rgba(0, 0, 0, .12);
}
.theme__flat___1jWAQ {
  background: transparent;
}
.theme__floating___3IRMZ {
  border-radius: 50%;
  box-shadow:
    0 1px 1.5px 0 rgba(0, 0, 0, .12),
    0 1px 1px 0 rgba(0, 0, 0, .24);
  font-size: 24px;
  height: 56px;
  width: 56px
}
.theme__floating___3IRMZ .theme__icon___3aBSX:not([data-react-toolbox='tooltip']) {
  line-height: 56px
}
.theme__floating___3IRMZ > .theme__rippleWrapper___3AVBi {
  border-radius: 50%
}
.theme__floating___3IRMZ.theme__mini___2DCN- {
  font-size: 17.77778px;
  height: 40px;
  width: 40px
}
.theme__floating___3IRMZ.theme__mini___2DCN- .theme__icon___3aBSX {
  line-height: 40px
}
.theme__toggle___hC5Z2 {
  background: transparent;
  border-radius: 50%;
  vertical-align: middle;
  width: 36px
}
.theme__toggle___hC5Z2 > .theme__icon___3aBSX,
  .theme__toggle___hC5Z2 svg {
  font-size: 20px;
  line-height: 36px;
  vertical-align: top
}
.theme__toggle___hC5Z2 > .theme__rippleWrapper___3AVBi {
  border-radius: 50%
}
.theme__primary___3tTAW:not([disabled]) {
}
.theme__primary___3tTAW:not([disabled]).theme__raised___221ic,
  .theme__primary___3tTAW:not([disabled]).theme__floating___3IRMZ {
  background: rgb(63, 81, 181);
  color: rgb(255, 255, 255)
}
.theme__primary___3tTAW:not([disabled]).theme__flat___1jWAQ,
  .theme__primary___3tTAW:not([disabled]).theme__toggle___hC5Z2 {
  color: rgb(63, 81, 181)
}
.theme__primary___3tTAW:not([disabled]).theme__flat___1jWAQ:focus:not(:active), .theme__primary___3tTAW:not([disabled]).theme__toggle___hC5Z2:focus:not(:active) {
  background: rgba(63, 81, 181, 0.2)
}
.theme__primary___3tTAW:not([disabled]).theme__flat___1jWAQ:hover {
  background: rgba(63, 81, 181, 0.2)
}
.theme__accent___2wp6F:not([disabled]) {
}
.theme__accent___2wp6F:not([disabled]).theme__raised___221ic,
  .theme__accent___2wp6F:not([disabled]).theme__floating___3IRMZ {
  background: rgb(255, 64, 129);
  color: rgb(255, 255, 255)
}
.theme__accent___2wp6F:not([disabled]).theme__flat___1jWAQ,
  .theme__accent___2wp6F:not([disabled]).theme__toggle___hC5Z2 {
  color: rgb(255, 64, 129)
}
.theme__accent___2wp6F:not([disabled]).theme__flat___1jWAQ:focus:not(:active), .theme__accent___2wp6F:not([disabled]).theme__toggle___hC5Z2:focus:not(:active) {
  background: rgba(255, 64, 129, 0.2)
}
.theme__accent___2wp6F:not([disabled]).theme__flat___1jWAQ:hover {
  background: rgba(255, 64, 129, 0.2)
}
.theme__neutral___2CPs4:not([disabled]) {
}
.theme__neutral___2CPs4:not([disabled]).theme__raised___221ic,
  .theme__neutral___2CPs4:not([disabled]).theme__floating___3IRMZ {
  background-color: rgb(255, 255, 255);
  color: rgb(33, 33, 33)
}
.theme__neutral___2CPs4:not([disabled]).theme__flat___1jWAQ,
  .theme__neutral___2CPs4:not([disabled]).theme__toggle___hC5Z2 {
  color: rgb(33, 33, 33)
}
.theme__neutral___2CPs4:not([disabled]).theme__flat___1jWAQ:focus:not(:active), .theme__neutral___2CPs4:not([disabled]).theme__toggle___hC5Z2:focus:not(:active) {
  background: rgba(33, 33, 33, 0.2)
}
.theme__neutral___2CPs4:not([disabled]).theme__flat___1jWAQ:hover {
  background: rgba(33, 33, 33, 0.2)
}
.theme__neutral___2CPs4:not([disabled]).theme__inverse___2SPZr {
}
.theme__neutral___2CPs4:not([disabled]).theme__inverse___2SPZr.theme__raised___221ic,
    .theme__neutral___2CPs4:not([disabled]).theme__inverse___2SPZr.theme__floating___3IRMZ {
  background-color: rgb(33, 33, 33);
  color: rgb(255, 255, 255)
}
.theme__neutral___2CPs4:not([disabled]).theme__inverse___2SPZr.theme__flat___1jWAQ,
    .theme__neutral___2CPs4:not([disabled]).theme__inverse___2SPZr.theme__toggle___hC5Z2 {
  color: rgb(255, 255, 255)
}
.theme__neutral___2CPs4:not([disabled]).theme__inverse___2SPZr.theme__flat___1jWAQ:focus:not(:active), .theme__neutral___2CPs4:not([disabled]).theme__inverse___2SPZr.theme__toggle___hC5Z2:focus:not(:active) {
  background: rgba(33, 33, 33, 0.2)
}
.theme__neutral___2CPs4:not([disabled]).theme__inverse___2SPZr.theme__flat___1jWAQ:hover {
  background: rgba(33, 33, 33, 0.2)
}
.theme__neutral___2CPs4.theme__inverse___2SPZr[disabled] {
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.54);
}
/* Orientation */
/* Devices (defined by max width) */
/* Devices (defined by min-width) */
.theme__appBar___3Py1Z {
  background: rgb(48, 63, 159);
  color: rgb(255, 255, 255);
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  height: 64px;
  padding: 0 24px;
  transition-duration: 0.5s;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

  box-sizing: border-box;

  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;

  -webkit-font-smoothing: antialiased;

  font-smoothing: antialiased;

  -webkit-text-size-adjust: 100%;

      -ms-text-size-adjust: 100%;

          text-size-adjust: 100%
}
.theme__appBar___3Py1Z *,
    .theme__appBar___3Py1Z *::after,
    .theme__appBar___3Py1Z *::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-touch-callout: none
}
.theme__appBar___3Py1Z.theme__scrollHide___PyOfn {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%)
}
.theme__appBar___3Py1Z:not(.theme__flat___1J9he) {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14),
    0 1px 10px 0 rgba(0, 0, 0, .12),
    0 2px 4px -1px rgba(0, 0, 0, .2)
}
.theme__appBar___3Py1Z.theme__fixed___2dwFx {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 300
}
.theme__appBar___3Py1Z .theme__inner___lGWLJ {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: relative;
  width: 100%
}
.theme__appBar___3Py1Z a {
  color: rgb(255, 255, 255)
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  .theme__appBar___3Py1Z {
    height: 56px
  }
  }
@media screen and (max-width: 600px) and (orientation: landscape) {
  .theme__appBar___3Py1Z {
    height: 48px
  }
  }
.theme__title___37vtt {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 18px;
  font-weight: bold;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.theme__title___37vtt > small {
  font-size: 18px;
  font-weight: normal
}
.theme__leftIcon___30BcY {
  margin-left: -12px;
}
.theme__rightIcon___1hv3P {
  margin-left: auto;
  margin-right: -12px;
}
.theme__icon___1-mD4 {
  font-size: 18px;
  margin-right: 10px;
}
.theme__link___1Od3D {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.5;
  position: relative;
  transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1);

  box-sizing: border-box;

  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;

  -webkit-font-smoothing: antialiased;

  font-smoothing: antialiased;

  -webkit-text-size-adjust: 100%;

      -ms-text-size-adjust: 100%;

          text-size-adjust: 100%
}
.theme__link___1Od3D *,
    .theme__link___1Od3D *::after,
    .theme__link___1Od3D *::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-touch-callout: none;
}
.theme__link___1Od3D:not(.theme__active___3blKB) {
  opacity: 0.5;
}
.theme__link___1Od3D:hover,
  .theme__link___1Od3D:active {
  opacity: 1;
}
.theme__link___1Od3D > * {
  vertical-align: middle;
}
.theme__link___1Od3D > abbr {
  text-transform: capitalize;
}
.theme__link___1Od3D > small {
  font-size: 12px;
  margin-left: 8px;
  text-align: center;
}
.theme__horizontal___1MJ9B {
}
.theme__horizontal___1MJ9B > [data-react-toolbox='button'],
  .theme__horizontal___1MJ9B > [data-react-toolbox='link'] {
  display: inline-block;
  margin: 0 5px
}
.theme__vertical___xUlwz {
}
.theme__vertical___xUlwz > [data-react-toolbox='button'],
  .theme__vertical___xUlwz > [data-react-toolbox='link'] {
  display: block;
  margin: 5px
}
.theme__vertical___xUlwz,
.theme__horizontal___1MJ9B {
  padding: 5px;

  box-sizing: border-box;

  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;

  -webkit-font-smoothing: antialiased;

  font-smoothing: antialiased;

  -webkit-text-size-adjust: 100%;

      -ms-text-size-adjust: 100%;

          text-size-adjust: 100%
}
.theme__vertical___xUlwz *,
    .theme__vertical___xUlwz *::after,
    .theme__vertical___xUlwz *::before,
    .theme__horizontal___1MJ9B *,
    .theme__horizontal___1MJ9B *::after,
    .theme__horizontal___1MJ9B *::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-touch-callout: none
}
.theme__vertical___xUlwz > [data-react-toolbox='link'], .theme__horizontal___1MJ9B > [data-react-toolbox='link'] {
  color: rgb(0, 0, 0)
}

.index__appBar___1MJvM {
  background-color: #622F96;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

.index__navigation___38oTE {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right  
}

.index__navigation___38oTE > ul {
  list-style: none;

}

.index__navigation___38oTE > ul > li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;

}

.index__navigation___38oTE > ul > li > a {
  font-weight: bold;
  color: #ffffff;
  padding: 26px;
  display: inline-block;
  text-decoration: none;

}

.index__link___eCx6L {
}

.index__link___eCx6L:hover {
  font-weight: bold;
  color: #622f96;
  background-color: #d1c4e9;
  padding: 26px;
  transition: background-color .3s;
  text-decoration: none;

}

.index__link___eCx6L:not(.index__active___3_qnw) {
  opacity: 1;

}

.index__menu___6fwN7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative
}

.index__menu___6fwN7.index__topRight___2ZL1z {
  position: absolute;
  right: ;
  top: 0;

}

.index__menu___6fwN7.index__topRight___2ZL1z > .index__outline___Gtjbi {
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;

}
.theme__iconMenu___2aMxm {
  display: inline-block;
  position: relative;
  text-align: center;

  box-sizing: border-box;

  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;

  -webkit-font-smoothing: antialiased;

  font-smoothing: antialiased;

  -webkit-text-size-adjust: 100%;

      -ms-text-size-adjust: 100%;

          text-size-adjust: 100%
}
.theme__iconMenu___2aMxm *,
    .theme__iconMenu___2aMxm *::after,
    .theme__iconMenu___2aMxm *::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-touch-callout: none
}
.theme__iconMenu___2aMxm .theme__icon___1b8Ml {
  cursor: pointer
}
.theme__menu___1gvr5 {
  display: inline-block;
  position: relative
}
.theme__menu___1gvr5.theme__topLeft___SYeW8 {
  left: 0;
  position: absolute;
  top: 0
}
.theme__menu___1gvr5.theme__topLeft___SYeW8 > .theme__outline___2PdTB {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0
}
.theme__menu___1gvr5.theme__topRight___DFQvY {
  position: absolute;
  right: 0;
  top: 0
}
.theme__menu___1gvr5.theme__topRight___DFQvY > .theme__outline___2PdTB {
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0
}
.theme__menu___1gvr5.theme__bottomLeft___3i7lA {
  bottom: 0;
  left: 0;
  position: absolute
}
.theme__menu___1gvr5.theme__bottomLeft___3i7lA > .theme__outline___2PdTB {
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%
}
.theme__menu___1gvr5.theme__bottomRight___3q-zB {
  bottom: 0;
  position: absolute;
  right: 0
}
.theme__menu___1gvr5.theme__bottomRight___3q-zB > .theme__outline___2PdTB {
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%
}
.theme__menu___1gvr5:not(.theme__static___2xf5n) {
  pointer-events: none;
  z-index: 200
}
.theme__menu___1gvr5:not(.theme__static___2xf5n) > .theme__outline___2PdTB {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform
}
.theme__menu___1gvr5:not(.theme__static___2xf5n) > .theme__menuInner___2t8UE {
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0
}
.theme__menu___1gvr5:not(.theme__static___2xf5n).theme__rippled___3o1JI:not(.theme__active___2Cekp) {}
.theme__menu___1gvr5:not(.theme__static___2xf5n).theme__rippled___3o1JI:not(.theme__active___2Cekp) > .theme__outline___2PdTB {
  transition-delay: 0.3s
}
.theme__menu___1gvr5:not(.theme__static___2xf5n).theme__rippled___3o1JI:not(.theme__active___2Cekp) > .theme__menuInner___2t8UE {
  transition-delay: 0.3s
}
.theme__menu___1gvr5:not(.theme__static___2xf5n).theme__active___2Cekp {
  pointer-events: all
}
.theme__menu___1gvr5:not(.theme__static___2xf5n).theme__active___2Cekp > .theme__outline___2PdTB {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1)
}
.theme__menu___1gvr5:not(.theme__static___2xf5n).theme__active___2Cekp > .theme__menuInner___2t8UE {
  opacity: 1;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
          clip 0.3s cubic-bezier(0.4, 0, 0.2, 1)
}
.theme__outline___2PdTB {
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 1px 5px 0 rgba(0, 0, 0, .12);
  display: block;
  left: 0;
  position: absolute;
  top: 0;
}
.theme__menuInner___2t8UE {
  display: block;
  list-style: none;
  padding: 8px 0;
  position: relative;
  text-align: left;
  white-space: nowrap;
}
.theme__menuItem___lyzBJ {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(33, 33, 33);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  height: 48px;
  overflow: hidden;
  padding: 0 16px;
  position: relative
}
.theme__menuItem___lyzBJ:not(.theme__disabled___zGTpA):hover {
  background-color: rgb(238, 238, 238);
  cursor: pointer
}
.theme__menuItem___lyzBJ.theme__disabled___zGTpA {
  opacity: 0.5;
  pointer-events: none
}
.theme__menuItem___lyzBJ.theme__selected___2-j_P {
  background-color: transparent;
  font-weight: 500
}
.theme__menuItem___lyzBJ .theme__ripple___2m_Cl {
  color: rgb(117, 117, 117)
}
.theme__menuItem___lyzBJ .theme__icon___1b8Ml {
  font-size: 24px;
  width: 38.4px
}
.theme__caption___3MsfE {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 16px;
}
.theme__shortcut___1anRY {
  margin-left: 16px;
}
.theme__menuDivider___VX5Lv {
  background-color: rgb(238, 238, 238);
  border: 0;
  display: block;
  height: 1px;
  margin: 12px 0;
  outline: 0;
  padding: 0;
  width: 100%;
}
